<%- include('../public/_header.ejs') %>
<section class="blog-list">
  <h1>Blog</h1>
  <% posts.forEach(function(p){ %>
    <article class="post-item">
      <h2><a href="/<%= 'blog/' + p.slug %>.html"><%= p.title %></a></h2>
      <p class="meta">Published <%= p.date %></p>
      <p><%= p.description %></p>
    </article>
  <% }) %>
</section>
<%- include('../public/_footer.ejs') %>
